{% extends 'base.html' %}
{% block about %}active2{% endblock %}
{% load static %}
{% load myfilters %}
{% block title %}About Myself{% endblock %}
{% block style %}
<style>
    .dash{
        width: 108px;
        margin-bottom: 31px;
        background-color: #7051ef;
        border: 3px solid #7051ef;
      }

      .contact-button{
        background-color:#7051ef ;
        border-radius: 13px;
        transition: transform .2s;
        width: 211px;
        height: 76px
    }
    .contact-button:hover{
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05); 
        background-color:#7051ef;
        
      }
      .card-skill{
          border-radius: 45px;
      }
      .card-skill img{
          border-radius: 40px;
      }
      .timeline{
        margin: 0 auto;
        max-width: 750px;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        font-family: "Fira Sans", sans-serif;
        color: black;

      }
      
      
      .timeline__middle {
        position: relative;
        background: #7051ef;
      }
      
      .timeline__point {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: #7051ef;
        border-radius: 50%;
      }
      

      .timeline__point--bottom {
        top: initial;
        bottom: 0;
      }
      
      .timeline__date {
        text-align: center;
        padding-right: 10px;
      }
      
      .timeline__title {
        margin: 0;
        font-size: 1.15em;
        font-weight: bold;
      }
      
      .timeline__paragraph {
        line-height: 1.5;
      }
      .timeline-cards{
        border-radius: 25px;
        padding:1.5rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .img-size{
        width:900px;
        height:700px;
        margin-left: -12rem;
      }
      @media only screen and (max-width: 600px) {
        .card-skill{
            margin-left: 1rem;
            
        }
        .timeline-cards{
          border-radius: 10px;
          padding:0.8rem;
          margin-bottom: 1rem;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: smaller;
        }
        .img-size{
          width:100%;
          height:100%;
          margin:0 0;
        }
      }
</style>

{% endblock %}

{% block body %}



<section class="sec1">
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-4 rounded-3" >
            <div class="container-fluid py-5">
              <div class="dash"></div>
              <h1 class="display-5 fw-bold text-1">about me</h1>
              <p class="col-md-8 fs-4">Experienced web developer in Django and Node</p>
              <button class="btn btn-primary btn-lg contact-button shadow my-2" type="button">contact me</button>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <img src="{% static 'mainwebsite/about.png' %}" class="img-fluid" alt="">
          </div>
        </div>
</section>

<!-- <section>
    <div class="container-fluid py-5">
        <div class="dash"></div>
        <div class="row">
            <div class="col-md-6 col-sm-12"><h1 class="display-5 fw-bold text-1 ">my professional skills</h1></div>
            <div class="col-md-6 col-sm-12 text-start fs-3"><p>Some of my project I've done recently</p> </div>
            <div class="row d-flex">
                <div class="col-md-3 col-sm-12 my-3">
                    <div class="card card-skill p-4 shadow">
                        <img src="{% static 'mainwebsite/s1.svg' %}" width=105 class="float-start" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Card title</h2>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-12 my-3">
                    <div class="card card-skill p-4 shadow" >
                        <img src="{% static 'mainwebsite/s2.svg' %}" width=105 class="float-start" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Card title</h2>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-12 my-3">
                    <div class="card card-skill p-4 shadow" >
                        <img src="{% static 'mainwebsite/s3.svg' %}" width=105 class="float-start" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Card title</h2>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-sm-12 my-3">
                    <div class="card card-skill p-4 shadow">
                        <img src="{% static 'mainwebsite/s4.svg' %}" width=105 class="float-start" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Card title</h2>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </div>
</section> -->

<section>
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-4 rounded-3" >
            <div class="container-fluid py-5">
              <div class="dash"></div>
              <h1 class="display-5 fw-bold text-1">My past experience</h1>
              <p class="col-md-8 fs-4">Experienced web developer in Django and Node</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
          </div>
          <div class="timeline">
            <div class="timeline__component">
              <div class="timeline__date timeline__date--right">August 30, 2017</div>
            </div>
            <div class="timeline__middle">
              <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline-cards card shadow">
              <h2 class="timeline__title">System Engineer</h2>
              <p class="timeline__paragraph">
                My first YouTube video was a tutorial on how to build a client-server sockets app in Java.
              </p>
            </div>
            <div class="timeline__component timeline-cards card shadow">
              <h2 class="timeline__title">5,000 Subscribers Q&A</h2>
              <p class="timeline__paragraph">
                To celebrate 5,000 subscribers,
              </p>
              <p class="timeline__paragraph">
                I didn't even remove the jumper in the background
              </p>
            </div>
            <div class="timeline__middle">
              <div class="timeline__point"></div>
            </div>
            <div class="timeline__component">
              <div class="timeline__date">February 25, 2019</div>
            </div>
            <div class="timeline__component">
              <div class="timeline__date timeline__date--right">June 3, 2020</div>
            </div>
            <div class="timeline__middle">
              <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline-cards card shadow">
              <h2 class="timeline__title">First Live Stream</h2>
              <p class="timeline__paragraph">
                In my first ever live stream, I couldn't put my cup of coffee down.
              </p>
            </div>
            <div class="timeline__component timeline__component--bottom timeline-cards card shadow">
              <h2 class="timeline__title">Vertical Timeline</h2>
              <p class="timeline__paragraph">
                Published this video.
              </p>
              <p class="timeline__paragraph">
                Link to code in description 🔽
              </p>
            </div>
            <div class="timeline__middle">
              <div class="timeline__point"></div>
              <div class="timeline__point timeline__point--bottom"></div>
            </div>
            <div class="timeline__component timeline__component--bottom">
              <div class="timeline__date ml-3">June 28, 2021</div>
            </div>
          </div>
          </div>
</section >

<section class="mb-5">
  <div class="col-md-6 col-sm-12 mb-4 rounded-3" >
    <div class="container-fluid py-5">
      <div class="dash"></div>
      <h1 class="display-5 fw-bold text-1">My Certificates</h1>
    </div>
  </div>
  <div class="row">

    {% for i in cerf %}
    <div class="col-md-4 col-sm-12 my-3">
      <a href="{{i.image.url}}" data-lightbox="image-1"><img src="{{i.image.url}}" class="img-fluid shadow" alt=""></a>
    </div>
    {% endfor %}

</section>
{% endblock %}
{% block js %}

<script>
  lightbox.option({
    'resizeDuration': 600,
    'wrapAround': true
  })
</script>

{% endblock %}
